@page
@model Fociwebapp.Pages.TabellaModel
@{
    ViewData["Title"] = "Tabella";
}
}
<h1>Tabella</h1>

<table class="table">
    <thead>
        <tr>
            <th>
               Állás
            </th>
            <th>
                Csapat
            </th>
            <th>
                Győzelmek
            </th>
            <th>
               Döntetlenek
            </th>
            <th>
                Vereségek
            </th>
            <th>
                Lőtt gólok
            </th>
            <th>
               Kapott gólok
            </th>
            <th>Pontok</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Meccs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fordulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HazaiVeg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendegVeg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HazaiFel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendegFel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendegNev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HazaiNev)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
